@{
    Layout = null;
}


<div class="navbar navbar-dark bg-primary">
    <h1>Exemplos com Bootstrap</h1>
</div>

@*Referenciando o bootstrap para que os efeitos sejam aplicados*@

@Html.ActionLink("Inicio", "Index")

@Styles.Render("~/Content/css")
