@model IEnumerable<AppRoute66.Models.Noticia>

@{
    ViewBag.Title = "Noticia";
}

<h2>Noticia</h2>

<div>
    <ul>
        @foreach (var item in Model)
        {
            <li>
                                    @*Rotulo, Action e Controller*@
                @Html.ActionLink(item.Titulo, "MostrarNoticia", "Home", new
           {
               @noticiaId = item.NoticiaId,
               @categoria = item.Categoria.ToLower(),
               @titulo = item.Titulo.ToLower()
           }, null);

                @*Mostrando itens que estão sendo pegos do model*@
                <em>@Html.DisplayFor(modelItem => item.Categoria)</em>
                <b>@Html.DisplayFor(modelItem => item.Data)</b>

            </li>
        }
    </ul>
</div>